:root{
    --accent: rgb(255, 63, 214);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html { overflow-y: scroll; }
body{
    margin:0px;
    background-color:rgb(5,5,5);
    width:calc(100%-100px);
    overflow-x:hidden;

} 
.stroke{
    position:absolute;
    width:100%;
    pointer-events:none;
}
.more{
    margin:0px;
    background-color: rgb(5,5,5);
    opacity:95%;
    height:100%;
}

.aboutme{
    margin:0px;
    background-color: rgb(5,5,5);
    opacity:95%;
    height:100%;
}
.aboutme h1{
    color:rgb(5,5,5);
}
.POSTERSbody{
    background-image: url('ABOUT ME/AS.jpg');
    background-size:100% auto;
    
}
.as{
    display:fixed;
    width:100%;
    height:auto;
    
}
.names {
    width:60%;
    margin-left:25%;
    margin-top:2%;
}
/*PROJECTS
PROJECTS
PROJECTS
PROJECTS
PROJECTS*/
.explanation{
    fill:rgb(5, 5, 5);
    width:calc(100%-100px);
    margin-left:100px;
    Height:30px;
    margin-top:-40px;
    margin-bottom:3px;
}
.explanation p{
    color:var(--accent);
    font-size:20px;
    letter-spacing: 2px;
    font-family:'coolvetica';
    font-style:normal;

}
.item-list-projects{
    display: flex;
    height: 32%;
    justify-content: space-between;
    
    width:calc(100%-100px);
    margin-left:100px;
    
}
.presentation{
    width:100%;
    height:auto;
    margin-left:50px;
    overflow-x:hidden;
   /*margin-top:calc(230px + 32%);*/
    
}
.item{
    scroll-snap-align: center;
    height:100%;
    width:auto; 
}
.projects{
    width:40%;
    Margin-left: 30%;
}

.text{
    width:40%;
    Margin-left: 30%;
    margin-top: 10%;
    font-size:70px;
     color:rgb(247, 241, 233);
     font-family:'Medium';
    font-style: normal;
    letter-spacing: 20px;
}

.descriptions{
    width:100%;
    Margin-left: 0%;
    margin-top: 0%;
    font-size:18px;
     color:rgb(212, 212, 212);
     font-family:'coolvetica';
     letter-spacing:1px;
     
}
.posterss{
    margin:10% 0 3% 0;
}
.background{
    display:none;
    flex-direction:column;
    width:35%;
    margin-left:100px;
    padding-left:27%;
 }
.mp4{ 
    margin:10% 0 3% 0;
    Height:auto;
    Width:100%;
    
}

/* 
CAROUSEL
CAROUSEL
CAROUSEL
CAROUSEL
CAROUSEL
*/

::-webkit-scrollbar-track{
    background-color:rgb(5, 5, 5);
}
::-webkit-scrollbar{
    height:10px;

}
::-webkit-scrollbar-thumb{
    Background-color: var(--accent);
}
.carousel-view.sliding-transition {
    transition: transform 0.5s ease-in-out;
  }
.item-list{
    scroll-snap-type:x mandatory;
    width:calc(100%-100px);
    height: 77%;
    Display:flex;
    scroll-behavior: smooth;
    overflow: auto;
    margin-left:100px;
    gap:5%;
}
.item{
    scroll-snap-align: center;
    height:100%;
    width:auto; 
}
/*
TITLE
TITLE
TITLE
TITLE
TITLE
 */
 .title{
    fill:rgb(5, 5, 5);
    background-color:rgb(5,5,5);
    width:calc(100%-100px);
    margin-left:100px;
    Height:100px;
    justify-content:center;
    align-content:center;
 }
 .title-text{
    Color:var(--accent);
    font-size: 70px;
    font-family:'Medium';
    font-style:normal;    
 }
/*
 EVERYTHING WITH MENU
 EVERYTHING WITH MENU
 EVERYTHING WITH MENU
 EVERYTHING WITH MENU
 EVERYTHING WITH MENU
 */
@font-face{
    font-family:"Semibold";
    src: url('https://raw.githubusercontent.com/zzlap/zzlap.github.io/blob/main/FONTS/coolvetica%20rg_74e8090722bb89f0ac5848a8f53621c3.ttf');
    font-family:"Bold";
    src: url( FONTS/CoolveticaRg-Bold.otf);
}
@font-face{
    font-family:"Medium";
    src: url( FONTS/AKONY.woff2);
}

.menubar{
    
    width:100px;
    display:inline-block;
    align-content:center;
    justify-content:space-between;
    
    position:fixed;
    height:100%;
    background-color:rgb(5,5,5);
    /*display:flex;
    align-items:center;
    justify-content:center;*/
    
    
    }
      /*.menubar:hover{
        border:10px;
        border: 3px solid rgb(247, 241, 233);
        margin-top:0;
        margin-left:0px;
        transition: 0.1s;
      }*/
.buttoon{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    display:flex;
    align-content:center;
    justify-content: center;
    width:200px;
    height:50px;
    border-radius:50px;
    background-color:var(--accent);
    margin-top:200px;
    margin-bottom:200px;
    Margin-left: -53px;
    box-shadow: inset 10px 10px 10px 0 rgba(255, 186, 240), 
    inset -10px -10px 10px 0 rgba(70, 0, 43, 0.5);
    
    
}
.butt{

    font-family:'coolvetica';
    font-size:21px;
    letter-spacing: 1.1px;
    font-weight: bold ;
    text-decoration:none;
    color:rgb(44, 9, 35);
    text-align:center;
    margin-top:13px;
}
.but{

    font-family:'coolvetica';
    font-size:20px;
    letter-spacing: 1.1px;
    font-weight: bold ;
    text-decoration:none;
    color:rgb(44, 9, 35);
    text-align:center;
    margin-top:13px;
}
.butt:hover{

    font-family:'coolvetica';
    font-size:20px;
    letter-spacing: 1.1px;
    font-weight: bold ;
    text-decoration:none;
    color:rgb(236, 223, 235);
    text-align:center;
    margin-top:13px;
}
.but:hover{

    font-family:'coolvetica';
    font-size:20px;
    letter-spacing: 1.1px;
    font-weight: bold ;
    text-decoration:none;
    color:rgb(236, 223, 235);
    text-align:center;
    margin-top:13px;
}

.posters{
    Height:100%;
}

/*div.background{
    padding-top:10%;
    display:flex;
    flex-direction: column;
    width:30%;
    padding-left:37%;
    padding-right:33%;
    gap:200px;
 }*/
h1{
 font-size:10vw;
 color:rgb(202, 199, 195);
 margin:0;
 margin-left:4%;
 padding-bottom:10%;
 text-align:center;
}
/* OUTRO */

.outro{
   Width:20%;
   margin:2% 40% 2% 40%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-content:center;

}
.links{
    color:var(--accent);
    font-size:18px;
    text-align:left;
    text-decoration:none;
    font-style:'semibold';
    letter-spacing: 1px;
    opacity:75%;
}
.link{
    color:var(--accent);
    opacity:75%;
    font-size:18px;
    text-align:left;
    text-decoration:none;
    font-style:'semibold';
    letter-spacing: 1px;

    margin-top:10px;
}




/* MAINPAGE */
.mainpage {
 background-color:var(--accent);

 width:100%;
 height:100%;
}
.lukas{
    display:flex;
    justify-content:space-around;
    align-content:center;
    padding-top:10%;
    height:50%;
}

/* ABOUT ME   */
.mylife{
    display:flex;
    width:80%;
    padding: 20% 0 0 100px;
    margin-left:5%;
    height:20%;
    justify-content:center;
 
}
.mylife p{
    font-size: 2.3vW;
    color:rgb(240, 238, 238);
    font-weight:lighter;
    font-family:'coolvetica';
    font-style:normal;

}


